textarea {
  width: 100%;
}

.template-generator {
  padding: 20px;
  margin-bottom: 5px;
  text-align: center;
  background: #073262;
}
.template-generator > * {
  padding: 5px 10px;
  margin: 0 10px;
}

.row-generator {
  padding: 10px;
  background: #f4f4f4;
  text-align: center;
  margin-bottom: 20px;
}
.row-generator > button {
  padding: 5px 20px;
}

.row {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 2px dashed #ccc;
  margin-bottom: 10px;
}
.row .header {
  margin: 10px;
  padding: 10px;
  background-color: #0f61bc;
  text-align: center;
}
.row .header > * {
  padding: 5px 10px;
  margin: 0 10px;
}
.row .content {
  display: flex;
}
