textarea {
  width: 100%;
}

.template-generator {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  background: #073262;
}
.template-generator > * {
  padding: 5px 10px;
  margin: 0 10px;
}

.row-generator {
  padding: 10px;
  /* background: #f4f4f4; */
  text-align: center;
  border: 2px dashed #ccc;
  margin-bottom: 10px;
}
.row-generator > button {
  margin: 20px;
  padding: 5px 20px;
}

.row {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 2px dashed #ccc;
  margin-bottom: 10px;
}
.row .header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  background-color: #0f61bc;
  text-align: center;
}
.row .header div {
  padding: 5px 10px;
}
.row .header div button {
  margin-left: 10px;
}
.row .header .row-id p {
  color: #fff;
  margin: 0;
}
.row .content {
  display: flex;
}
